{% extends 'MiniCMSBundle::layout.html.twig' %}

{% block title %}
	Administration - {{ parent() }}
{% endblock %}
	
{% block navlink %}
	<li><a href="{{ path('frontend_home') }}">Homepage Site</a></li>
{% endblock %}
	
{% block navigation %}
	<li><a href="{{ path('backend_home') }}">Admin Home</a></li>
	<li><a href="{{ path('backend_add') }}">Add page</a></li>
{% endblock %}
